/* Zentrales Styling */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
    height: 100vh;
    overflow-x: hidden;
}

main {
    transform: none;
    background-color: inherit;
    padding: 20px;
}

:root {
    --background-color: #2E2E2E;
    --text-color: #ffffff;
    --primary-color: #228B22;
    --special-text-color: #ffffff;
    --timeline-background: #f39c12;
    --card-background-color: #737373;
    --text-color-blog: rgba(18, 18, 18, 0.8);
    --blog-background-color: #9f9b9b;
    --water-color: rgba(0,70,150,0.6);
}

/* Navigation Menu Styling */
header {
    background: transparent;
    padding: 0;
    position: relative;
}

#navMenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--background-color);
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 50px;
    z-index: 1;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#navMenu a {
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 0;
    font-size: 1.5rem;
}

#navMenu a:hover {
    color: var(--primary-color);
}

#navMenu .small-link {
    font-size: 1rem;
    margin-top: auto;
    margin-bottom: 10px;
}
.info p, .timeline time, .timeline p, .sidebar-section a {
    color: var(--special-text-color);
}

footer {
    background: var(--background-color);
    color: var(--text-color);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
}

#navMenu .footer-links {
    position: absolute;
    text-align: center;
    bottom: 50px;
    width: 95%;
    left: 0.5vh;
    right: 0.5vh;

}

.menu-links {
    position: relative;
    text-align: center;
    top: 50px;
}

#menuButton {
    position: fixed;
    cursor: pointer;
    background: var(--background-color);
    z-index: 1;
}

#navMenu.hidden {
    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none;
}

#navMenu.visible {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    z-index: 1001;
}

.fade-out {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s ease, visibility 1.5s ease;
}

.preloader-text {
    font-family: 'Roboto Slab', serif;
}

.animated-text {
    display: inline-block;
    opacity: 0;
    animation: fade-in 0.5s ease forwards;
}

.accent-selector {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.accent-selector .button-red {
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #FF3030;
    font-size: 1rem;
}

.accent-selector .button-green {
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #228B22;
    font-size: 1rem;
}

.accent-selector .button-blue {
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #1C1F26;
    font-size: 1rem;
}

.accent-selector input {
    margin-top: 5px;
    cursor: pointer;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes glow {
    0%, 100% {
        text-shadow: 0 0 5px var(--primary-color), 0 0 10px var(--primary-color), 0 0 20px var(--primary-color);
    }
    50% {
        text-shadow: 0 0 10px var(--primary-color), 0 0 20px var(--primary-color), 0 0 40px var(--primary-color);
    }
}

body {
    background-color:var(--background-color);
    color: var(--text-color);
}

/* Cards Container */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

/* Card Styling */
.card {
    width: 240px;
    height: 180px;
    background: var(--card-background-color);
    border-radius: 0.5rem;
    border: 2px solid rgba(0, 255, 241, 0.1); /* Subtle border */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
}

/* Card hover effect */
.card:hover {
    transform: scale(0.97);
    border: 2px solid var(--primary-color); /* Glowing border */
}

.card::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    background: radial-gradient(
            circle at var(--xPos, 50%) var(--yPos, 50%),
            var(--primary-color),
            transparent 100%
    );
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

/* Hover state for glow effect */
.card:hover::before {
    opacity: 1;
}

/* Card content - icon and text */
.card-content {
    background-color: transparent;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-content .icon {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
}

.card-content span {
    font-size: 1.2rem;
    color: var(--text-color);
}

@media (max-width:600px) {
    .card {
        width: 20vh;
        height: 15vh;
    }
}

@media (max-width:900px) {
    .card {
        width: 14vh;
        height: 14vh;
    }
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li {
list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: var(--timeline-background);
}

@media screen and (min-width: 600px) {
    .timeline ul li div {
        width: 400px;
        left: 60px;
        transform: translate3d(200px, 0, 0); /* Keep the animation for larger screens */
    }
}

.timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--timeline-background);
    z-index: 0;
}

.timeline ul li div {
    position: relative;
    width: 400px;
    min-height: 100px;
    padding: 15px;
    background: var(--timeline-background);
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 auto;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.timeline ul li:nth-child(odd) div,
.timeline ul li:nth-child(even) div {
    left: 0; /* Beide Seiten gleich positionieren */
    margin-left: 5%; /* Abstand zwischen der Zeitleiste und den Boxen */
}

@media screen and (max-width: 600px) {
    .timeline ul li div {
        width: 90%; /* Setze die Breite auf 90% des Viewports */
        left: 5%; /* Zentriere das Kästchen */
        transform: none; /* Entferne eventuelle Transformationen */
    }
    .timeline {
        margin-left: -4vw;
        z-index: 0;
    }

    .timeline ul li:nth-child(odd) div,
    .timeline ul li:nth-child(even) div {
        left: 0; /* Beide Seiten gleich positionieren */
        margin-left: 5%; /* Abstand zwischen der Zeitleiste und den Boxen */
    }

    /* Anpassung der Pfeile */
    .timeline ul li div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent var(--timeline-background) transparent transparent;
    }

    /* Entferne die unterschiedliche Positionierung der geraden und ungeraden Elemente */
    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent var(--timeline-background) transparent transparent;
    }
}

.timeline ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) div {
    left: 60px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--timeline-background) transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: -465px;
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent var(--timeline-background);
}

time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
    transition: background 2s ease-in-out;
}

.timeline ul li.in-view::after {
    background: var(--timeline-background);
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 3s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }
    .timeline ul li:nth-child(even) div {
        left: -320px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 0;
        right: 10px;
    }
    .timeline ul li div {
        width: calc(95vw - 91px);
        padding: 10px;
    }
    .timeline ul li:nth-child(even) div,
    .timeline ul li:nth-child(odd) div{
        left: 50px;
    }
    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent var(--timeline-background) transparent transparent;
        }
}

/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
    width: 40px;
    height: 40px;
    border-radius: 0;
}

.timeline-rhombus ul li::after {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
    bottom: 12px;
}

.timeline-star ul li::after {
    clip-path: polygon(
            50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%
    );
}

.timeline-heptagon ul li::after {
    clip-path: polygon(
            50% 0%,
            90% 20%,
            100% 60%,
            75% 100%,
            25% 100%,
            0% 60%,
            10% 20%
    );
}

.timeline-infinite ul li::after {
    animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
    0% {
        transform: translateX(-50%) scale(1);
    }
    50% {
        transform: translateX(-50%) scale(1.25);
    }
    100% {
        transform: translateX(-50%) scale(1);
    }
}